

<div style="margin-left: 10px; margin-top: 20px;">
	<h4>
		O que é <b>AjaFit</b>?
	</h4>
	<p style="margin-left: 20px;">
		<b>AjaFit</b> é uma conceito que visa combinar, de maneira prática,
		três pilares que sustentam um estilo de vida <b>fitness</b> para uma
		otimização de resultados.
	</p>
	<h4>Como assim?</h4>
	<div style="margin-left: 20px;">
		<p>Bem, para explicar melhor, vamos começar pelos três pilares.</p>
		<div class="alert alert-success"
			style="margin: auto; width: 70%; font-size: 20px; text-align: center;">
			<b>Alimentação Saudável</b> + <b>Atividade Física Regular</b> + <b>Controle</b>
		</div>
		<br />
		<h5 class="alert alert-info">
			<b>Alimentação Saudável.</b>
		</h5>
		<!-- <img src="../assets/crepioca/crepioca_frango1.jpg"/> -->
		<!-- 	<div style="margin-left: 20px; background:url('../assets/crepioca/crepioca_queijo.png')"> -->
		<div style="margin-left: 20px;">
			<div class="row">
				<div class="col-7">
					<div>
						&nbsp;&nbsp;&nbsp;<b>N</b>a correria do dia a dia, todos sabemos o
						quanto é dificil se alimentar corretamente.<br />
						&nbsp;&nbsp;&nbsp;Às vezes, por falta de tempo, podemos acabar
						saindo de casa desprevinidos e acabar comendo qualquer coisa que
						venha atrapalhar a nossa evolução.<br /> &nbsp;&nbsp;&nbsp;Quem
						quer emagrecer sabe bem que nós somos os maiores inimigos da nossa
						dieta. Afinal, não é uma tarefa fácil modificar os hábitos
						alimentares e manter tais mudanças, ainda mais para aquelas
						pessoas que nunca se alimentaram corretamente.<br />
						&nbsp;&nbsp;&nbsp;Tenha em mente que uma mudança de comportamento
						é mais importante para o sucesso dos resultados do que a pressa de
						começar um regime.
					</div>
					<br />
					<h6>
						<b>Então, entendemos que existem dois pontos básicos:</b>
					</h6>
					<div style="margin-left: 20px;">
						1)<b> Comer é bem diferente do que se alimentar</b>
						<p style="margin-left: 20px;">É necessario ingerir alimentos
							com nutrientes que sejam realmente necessários para se ter uma
							vida saudável.</p>
						2)<b> É preciso se alimentar corretamente</b>
						<p style="margin-left: 20px;">Mesmo sendo um alimento
							saudável, não basta comer tudo de uma só vez. É preciso
							distribuir em pequenas porções ao longo do dia, alimentando-se
							com intervalos de 3 ou 4 horas e mantendo um equilibrio na
							ingestão dos macronutrientes(proteinas, carboidratos e gorduras).
							Tudo isso ajustado ao seu perfil e objetivo.</p>
					</div>

				</div>
				<div class="col" style="margin-right: 15px;">
					<img src="../assets/about_food.jpeg"
						style="width: 100%; margin-top: 100px; margin-right: 20px;" /> <br />
					<div
						style="width: 80%; margin: auto; text-align: center; font-size: 12px;">
						<b>AjaFit</b> desenvolve <b>crepiocas</b> sem lactose,sem gluten e
						sem gorduras trans, com seus macronutrientes na proporção
						adequada.
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col">

					<p>
						&nbsp;&nbsp;&nbsp;<b>AjaFit</b> ajuda a resolver este problema
						produzindo um produto de alto valor nutritivo. <b>A crepioca.</b>
						<br /> &nbsp;&nbsp;&nbsp;<b>A crepioca</b>, hoje em dia, é uma
						receita recomendada pela maioria dos nutricionistas para pessoas
						que buscam o equilibrio na balança.
					</p>


					<p>
						&nbsp;&nbsp;&nbsp;Combinar uma boa diversidade de ingredientes com
						isenção de <a href="#" style="color: red;"
							title="Leia sobre os malefícios da ingestão de alimentos com lactose!!">lactose</a>,
						<a href="#" style="color: red;"
							title="Leia sobre os malefícios da ingestão de alimentos com gluten!!">glúten</a>
						e <a href="#" style="color: red;"
							title="Leia sobre os malefícios da ingestão de alimentos com gorfura trans!!">gorduras
							trans</a> e ajustar seus macronutrientes numa proporção adequada, é o
						que a <b>AjaFit</b> faz para desenvolver receitas que derivam em
						produtos de extrema qualidade, com a praticidade exigida
						atualmente, e ainda por cima, mantendo um sabor delicioso.<br />
						&nbsp;&nbsp;&nbsp;Enfim, Você recebe um produto pronto para
						comer.. Ou melhor.. Pronto para se alimentar! :-)
					</p>
				</div>
			</div>
		</div>




		<h5 class="alert alert-info">
			<b>Atividade Física Regular</b>
		</h5>
		<div>
			<div class="row">
				<div class="col-7">
					<div style="margin-top: 20px;">
						&nbsp;&nbsp;&nbsp;Começar uma rotina de treino é quase sempre a
						parte mais facil de todo o processo. Basta matricular-se numa
						academia, seguir as orientações de um profissional de educação
						física capacitado e montar uma ficha de treinamento. Porém, o que
						muitos acabam não fazendo é aproveitar esse momento importante
						para aferir algumas medidas para uma comparação posterior. Assim,
						poderemos saber se avançamos, se estagnamos ou se simplesmentre
						regredimos. <br /> &nbsp;&nbsp;&nbsp; Tudo isso parece meio
						óbvio, mas acredite. É muito comum encontrar pessoas que se
						dedicam a rotinas de treino e que consideram apenas algumas
						métricas sem uma real relevância. Um exemplo clássico disso, são
						os de pessoas que apenas tiram as medidas de peso com uma balança
						comum, ignorando o fato de que o musculo pesa mais que gordura.
						Geralmente essas pessoas tendem a desmotivar-se, e assim perdem o
						interesse pela busca do resultado. <br /> &nbsp;&nbsp;&nbsp;Com
						uma atividade física de certa intensidade e seguindo uma
						alimentação adequada é possivel, além de queimar gordura, obter um
						aumento de massa magra(musculos). Por isso não devemos considerar
						apenas a balança como forma de medir nossa evolução.

					</div>

					<br />
					<h5>Então, qual seria a forma mas adequada ?</h5>

					&nbsp;&nbsp;&nbsp;Bem, acreditamos que quanto mais informação,
					melhor.<br /> &nbsp;&nbsp;&nbsp;É fundamental começar por uma
					consulta médica e com uma série de exames como os de sangue, os
					exames cardiacos e os hormonais. Dessa forma se pode avaliar o seu
					real estado fisico e se esta apto para começar de imediato a uma
					rotina forte de treinos.<br /> &nbsp;&nbsp;&nbsp;Estando tudo
					certo com sua saúde, é hora de fazer uma avaliação física. <br />
					<br />
					<h5>Como fazer a avaliação física ?</h5>
				</div>
				<div class="col" style="margin-right: 15px;">
					<img src="../assets/about_halteres.jpeg"
						style="width: 95%; max-height: 350px; margin-top: 100px; margin-right: 20px;" />

				</div>
			</div>
			<div class="row">
				<div class="col">
					<div>
						&nbsp;&nbsp;&nbsp;Somente um profissional de educação fisica
						capacitado ou um nutricionista podem efetuar este procedimento.<br />
						&nbsp;&nbsp;&nbsp;Uma série de medidas e critérios são computados
						em conjunto com suas medições específicas de gordura(aferidas com
						um adipômetro por exemplo). O resultado é saber de forma mais
						assertiva seu real percentual de gordura corporal, além de outros
						fatores.<br /> &nbsp;&nbsp;&nbsp;De maneira geral, o percentual
						de gordura é a informação mais importante que devemos considerar
						para sabermos se estamos caminhando rumo aos nossos objetivos. <br />
						&nbsp;&nbsp;&nbsp;Para ilustrar o entendimento dessa idéia, segue
						uma tabela em que a medicina desportiva vem utilizado como
						referência:
					</div>
					<div style="width: 50%; margin: auto; background-color: blue;">
						<img src="../assets/about_tabela_percentual_gordura.jpeg"
							style="width: 100%;" />
					</div>
								<br />
					<h5>
						OK, mas como seria a atuação da <b>AjaFit</b>?
					</h5>
					&nbsp;&nbsp;&nbsp;Esta é a hora de explicar o Controle! :-)
				</div>

			</div>

		</div>

		<h5 class="alert alert-info">
			<b>Controle</b>
		</h5>

		<div class="alert alert-success" style="width:60%; margin:auto; text-align:justified;">
	
		&nbsp;&nbsp;&nbsp;Não menos importante, o terceiro pilar é o que representa a positividade.<br/> 
		&nbsp;&nbsp;&nbsp;A grande verdade é que ninguem consegue chegar a lugar algum sem acreditar em si mesmo.<br/>
		&nbsp;&nbsp;&nbsp;Esqueça o que outras pessoas dizem sobre você. Isso não importa.<br/>  
		&nbsp;&nbsp;&nbsp;O que importa é você se sentir bem e sentir-se bem consigo mesmo.<br/>
		&nbsp;&nbsp;&nbsp;Estamos falando sobre você ser o seu melhor e dar o melhor de si mesmo.
		</div>
		&nbsp;&nbsp;&nbsp;Bem, então vamos lá!<br />
		&nbsp;&nbsp;&nbsp;O	principal objetivo da <b>AjaFit</b> é permitir a elaboração de um
		planejamento. <br /> &nbsp;&nbsp;&nbsp;É possível montar um
		cronograma com atividades e tarefas, que quando projetadas ao longo de
		um periodo, se obtém uma estimativa de resultado. <br />
		&nbsp;&nbsp;&nbsp;A possibilidade de ter profissionais de
		especialidades distintas interagindo e criando, de forma sinergica, um
		modelo mais completo. Torna a solução uma excelente ferramenta para um
		acompanhamento mais minuscioso. <br /> &nbsp;&nbsp;&nbsp;Ou seja,<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; É como se o personal trainer montasse o
		plano de treino baseando-se na sua dieta; dieta; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; É como se o nutricionista montasse o
		plano de dieta baseando-se no seu plano de treino; no de treino; <br />&nbsp;&nbsp;&nbsp;Tendo
		em vista que qualquer especialista do ramo desportivo e nutricional
		possa participar da confeccão dos planos. É possivel que, ao longo do
		tempo, novos programas com abordagens distintas possam vir a surgir.<br />
		&nbsp;&nbsp;&nbsp;Para participar, basta simplemente aderir ao plano e
		seguir trilhando pelos caminhos moldados por algum especialista; <br />
		<p>&nbsp;&nbsp;&nbsp;
		<h5>Em termos práticos, funciona assim:</h5>
		<ul>
			<li>Você monta o seu planejamento estratégico ou adere à algum
				programa pronto;</li>
			<li>Você informa quais as metricas referêntes ao seu
				objetivo(percentual de gordura, perimetria, performance..);</li>
			<li>Você ajusta o cronograma de <span
				class="badge badge-default" title="alimentar-se ou exercitar-se">atividades</span>
				para que fique aderente ao seu dia a dia;
			</li>
			<li>Diariamente, você registra se as atividades planejadas foram
				de fato realizadas;</li>
			<li>Equacionando os valores nutricionais dos alimentos de seu
				plano estratégico com valores estimados para os gastos calóricos de
				cada atividade realizada, <b>AjaFit</b> responde se as metas vem
				sendo alcançadas;
			</li>
			<li>Periodicamente, você precisa atualizar os valores de suas
				métricas para que <b>AjaFit</b> estime melhor o valores para o seu
				metabolismo;
			</li>
			<li>Quanto mais se utilizar do programa, mais informações serão
				computadas, e mais assertivo será o resultado final;</li>

		</ul>


		<h5>E tem mais...</h5>
		<p>
			&nbsp;&nbsp;&nbsp;Uma das questões que mais assombram as mentes das
			pessoas que praticam atividade física é saber qual método funciona
			melhor para si.<br /> &nbsp;&nbsp;&nbsp;O grande barato da
			computação é que podemos efetuar milhões de cálculos por segundo. Ter
			a capacidade de executar diversas simulações dentre todos os
			programas disponiveis traz vantagens como a de estimar o tempo
			necessário para se obter um resultado satisfatório. <br />
			&nbsp;&nbsp;&nbsp;Esta abordagem traz uma excelente previsibilidade
			ao processo.<br />
		</p>
		<div style="width: 100%; margin: auto; background-color: black;">
			<img src="../assets/about_thin1.jpeg"
				style="width: 30%; max-height: 350px; margin-top: 100px; margin-right: 20px;" />
			<img src="../assets/about_thin2.jpeg"
				style="width: 30%; max-height: 350px; margin-top: 100px; margin-right: 20px;" />

			<!-- <a href='https://www.freepik.com/free-photo/muscular-man-looking-dumbbell_935458.htm'>Designed by Freepik</a> -->

			<img src="../assets/about_thin3.jpeg"
				style="width: 30%; max-height: 350px; margin-top: 100px; margin-right: 20px;" />
			<br /> <br />
			<div
				style="width: 50%; margin: auto; font-size: 18px; text-align: center;">
				&nbsp;&nbsp;&nbsp;Previsibilidade! É saber exatamente o que vai acontecer!<br/> Esta é a chave para se traçar a melhor estratégia para a realização dos seus objetivos.</div>
			<br />
		</div>

	</div>


</div>