.wrapper {
	height: 300px;
	width: 100%;
/* 	background-color: red; */
	margin: auto;
	/* border: 3px solid green; */
	padding: 1px;
}

.carousel-item .carousel-item-next, .carousel-item-prev, .carousel-item.active {
	/*display: block !important;*/
	width:100%;
}
.image{
	width:100%;
	height: 300px;
	margin: auto;
	padding: 10px;
}