.wrapper {
	height: 300px;
	width: 100%;
 	//background-color: red;
	/*margin: auto;*/
	/* border: 3px solid green; */
	padding: 1px;
}

.carousel-item .carousel-item-next, .carousel-item-prev, .carousel-item.active {
	/*display: block !important;*/
	width:100%;
}
.image{
	width:100%;
	max-height: 300px;
	margin: auto;
	/* padding: 10px; */
}
.highlight {
    display: block;
    height: 200px;
    max-width: 100%;
    display: block;
    width: auto;
    max-height: 100%;
    background-color:red;
}
.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

/* Fixed height, can be dynamic using JS */
.carousel-fade .carousel-inner,
.carousel-fade .carousel-item {
  height: 300px;
}